// Colors

//
$color--body: #000022 !default;
$color--body-alt: #aaafb5 !default;
$color--body-lighten: #fff !default;
$color--body-background: #fff !default;

$color--primary: #c74b36 !default;
$color--secondary: #1280ab !default;
$color--tertiary: #eff0f1 !default;
$color--indigo: #5c6bc0;
$color--blue: #29b6f6;

$color--link: rgba(255, 255, 255, 0.8) !default;
$color--link-hover: #05f !default;

$color--code: #abb2bf !default;
$color--code-background: #434851 !default;
$color--dark-background: #000020 !default;
